@model MVCProject.BLL.ModelList

@{
    ViewBag.Title = "Ürün Listesi";

    string categoryTitle = "Kategori";
    List<MVCProject.DAL.MMM00> productList = (List<MVCProject.DAL.MMM00>)Model.d1;
    MVCProject.BLL.GeneralOp generalOp = new MVCProject.BLL.GeneralOp();

    bool isData = false;

    if (productList != null && productList.Count > 0)
    {
        isData = true;
        categoryTitle = string.Format("{0} / {1}", productList[0].MMG00.MMG00_TITLE, productList[0].MMH00.MMH00_TITLE);
    }

    if (Request.QueryString["s"] != null) { categoryTitle = "Arama"; }
}

<div class="col-md-9 col-md-push-3">

    @{
        if (isData)
        {
            <div class="category-header">
                <h1>@categoryTitle</h1>
                <ol class="breadcrumb">
                    <li><a href="/">Anasayfa &amp; Nurspot</a></li>
                    <li class="active">@categoryTitle</li>
                </ol>
            </div>
            <div class="shop-row">
                <div class="shop-container max-col-4" data-layout="fitRows">

                    @{
                        foreach (MVCProject.DAL.MMM00 item in productList)
                        {
                            <div class="product-item">
                                <div class="product">
                                    <figure class="product-image-container">
                                        <a href="/urun/@generalOp._friendlyURLTitle(item.MMM00_TITLE)-m-@item.MMM00_ID" title="@item.MMM00_TITLE" class="product-image-link">
                                            <img src="@item.MMM00_IMG" alt="Product Image">
                                        </a>
                                        <span class="product-label"></span>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-wishlist" title="Favorilerime Ekle">
                                                <i class="icon-product icon-heart"></i>
                                            </a>
                                            <a href="#" class="btn-product btn-add-cart" title="Sepete Ekle">
                                                <i class="icon-product icon-bag"></i>
                                                <span>Sepete Ekle</span>
                                            </a>
                                        </div><!-- End .product-action -->
                                    </figure>
                                    <h3 class="product-title">
                                        <a href="/urun/@generalOp._friendlyURLTitle(item.MMM00_TITLE)-m-@item.MMM00_ID">@item.MMM00_TITLE</a>
                                    </h3>
                                    <div class="product-price-container">
                                        <span class="product-price">@string.Format("{0:C2}", item.PRICE)</span>
                                    </div><!-- Endd .product-price-container -->
                                </div><!-- End .product -->
                            </div><!-- End .product-item -->

                        }

                    }


                </div><!-- End .shop-container -->
            </div><!-- End .shop-row -->
            <nav aria-label="Page Navigation">
                <ul class="pagination">
                    @{

                        if (ViewBag.MaxPage != null)
                        {
                            for (int i = 1; i <= ViewBag.MaxPage; i++)
                            {
                                string tclass = ViewBag.CurrentPage == i ? "class=active" : "";
                                string ttitle = string.Empty;

                                if (ViewBag.MMG00_CODE != null)
                                {
                                    ttitle = productList[0].MMG00.MMG00_TITLE;

                                    <li @tclass><a href="/urunler/@string.Format("{0}-g-{1}",generalOp._friendlyURLTitle(ttitle),ViewBag.MMG00_CODE)/sayfa-@i">@i</a></li>
                                }
                                else if (ViewBag.MMH00_CODE != null)
                                {
                                    ttitle = productList[0].MMH00.MMH00_TITLE;

                                    <li @tclass><a href="/urunler/@string.Format("{0}-c-{1}",generalOp._friendlyURLTitle(ttitle),ViewBag.MMH00_CODE)/sayfa-@i">@i</a></li>
                                }
                                else
                                {
                                    <li @tclass><a href="/urunler/arama?s=@string.Format("{0}",Request.QueryString["s"])&cpgm=@i">@i</a></li>
                                }
                            }
                        }

                    }
                </ul>
            </nav>
        }
        else
        {
            <div class="shop-row">
                <p>
                    Belirtmiş olduğunuz kriterler ile ilgili 0 sonuç bulundu.<br />
                    Nurspot dünyasının heyecanına farklı seçeneklerden devam edebilirsiniz.
                </p>
            </div>
        }

    }

</div><!-- End .col-md-9 -->
